* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/bg.jpg") no-repeat center center / cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 700px;
}
header h1 {
  /* font-size: 3rem; */
  font-weight: bold;
}
header p {
  font-size: 1.2rem;
}
.section-title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
.btn-section {
  margin: 10px;
}
footer {
  background: #333;
  color: white;
  padding: 30px 0;
  text-align: center;
}

.btn-primary {
  background-color: #f66607;
  border: 1px solid #f66607;
  color: white;
}

.btn-primary:hover {
  background-color: #de5d06;
  border: 1px solid #de5d06;
  color: white;
}

footer .icons a {
  background-color: white !important;
}

footer .icons a:hover {
  background-color: #de5d06 !important;
}

.icon-primary {
  color: #f66607 !important;
  font-size: 30px;
  margin-bottom: 10px;
}

blockquote img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 10px solid #f66607;
  margin-bottom: 10px;
}
